/* general */
body{
	
	background-color: #EEE;
	overflow-x: hidden;
  background: url(img/landings.png) no-repeat 50% 50%;
  background-size: cover;

}
.welcome{
  height: 100%;
  width: 100%;
  margin: auto;
  display: table;
  top: 0;
}
.welcome .inners {
  display: table-cell;
  vertical-align: middle;
  padding-bottom: 30%;

}
.content h1 {
  margin-top: 20%;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 370%;
  text-shadow: 3px 3px #6E7889;
  animation-name: fadeInDown;
  animation-duration: 2.6s;
}
.content a {
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  width: inherit;
  font-size: 130%;
  font-family: 'Open Sans' sans-serif;
  color: White;
  border: 2.5px solid white;
  border-radius: 5px;
  animation-name: fadeInDown;
  animation-duration: 3s;
}
/*navbar style*/
.navbar{

	padding: .8rem;
}

.navbar-nav li {
	padding-right: 20px;
}
.nav-link{
	font-size: 1.1em !important;
}

/*footer style*/

/* main post style*/

.main-post{
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #d8d8d8;
	margin-bottom: 10px;


}
.main-post h3{
	margin: 0 0 10px;
	font-weight: bold;
	color:#777;
	letter-spacing: -1px;
}
.main-post .post-author,
.main-post .post-date,
.main-post .post-comments{
 font-size: 12px;

}

.main-post img{
	display: block;
	margin: 10px 0 10px;
}
.main-post .post-content{
	font-weight: 1.7;
	color: #888;

}


.page-content  {
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #d8d8d8;
	margin-bottom: 10px;
	


}
.page-image{
	padding: 20px;
	background-color: #FFF;
	border: 1px solid #d8d8d8;
	margin-bottom: 10px;

}
.page-image img{
	display: block;
	margin: 10px 0 10px;
	
}






/*
    404 page style
*/


.page_404{ padding:40px 0; background:#fff; font-family: 'Arvo', serif;
}

.page_404  img{ width:100%;}

.four_zero_four_bg{
 
 background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    background-position: center;
 }
 
 
 .four_zero_four_bg h1{
 font-size:80px;
 }
 
  .four_zero_four_bg h3{
			 font-size:80px;
			 }
			 
			 .link_404{			 
	color: #fff!important;
    padding: 10px 20px;
    background: #39ac31;
    margin: 20px 0;
    display: inline-block;}
	.contant_box_404{ margin-top:-50px;}















	<!--Section Animation Opening-->
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
